html, body, #map-canvas { height: 100%; margin: 0; padding: 0;} 

#wrapper {
    position: relative;
}

#over_map { position:absolute;
    top: 10px;
    left:10px;
    background-color:#333333;
    color:#ffffff;
}