body {font-family:  Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  padding-top: 20px;
  background-color: beige;
  padding: 20px; }

.Table {
	 border: 5px solid #f99999;

}

.header {
	text-align: center;
}